.header{
    padding: 1rem 0 3rem;
}
.title{
    color: #000000;
    font-size: 3rem;
    text-decoration: none;
}
.nav-list{
    display: flex;
    list-style-type: none;
    margin: 0;
}
.nav-item {
    color: rgb(0, 139, 139);
    text-decoration: none;
    font-size: .9rem;
    margin-right: 1.3rem;
    justify-content: space-between;
}
.nav-item:hover{
    font-size: 1rem;
    transition: .2s ease;
    color: rgb(29, 82, 82);
}
.active-nav-item{
    color: rgb(57, 61, 61);
}